<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <div
      class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Ready to dive back in?
        </h1>
        <form class="space-y-4 md:space-y-6" @submit.prevent="handleLogin">
          <BaseInput v-model="email" type="email" label="Your email" name="email" id="email"
            placeholder="name@company.com" required :error="error" />
          <BaseInput v-model="password" type="password" label="Your password" name="password" id="password"
            placeholder="••••••••" required :error="error" />
          <BaseButton class="flex justify-between" type="submit" variant="primary" :fullWidth="true">
            Log In
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
              <path fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
                clip-rule="evenodd" />
            </svg>

          </BaseButton>
        </form>
        <!-- <p class="text-sm font-light text-gray-500 dark:text-gray-400">
          Don’t have an account yet?
          <router-link to="/register" class="font-medium text-gray-600 hover:underline dark:text-gray-500">
            Sign Up
          </router-link>
        </p> -->
        <div v-if="error" class="text-red-500 text-sm mt-2">{{ error }}</div>
      </div>
    </div>
  </div>
</section>
