@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.user-profile p {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.skeuo {
  box-shadow:
    -5px -10px 10px white,
    5px 5px 10px rgba(0, 0, 0, 0.1),
    inset -5px -5px 10px white,
    inset 2px 5px 10px rgba(0, 0, 0, 0.1);
}
