@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.user-profile p,
.clock p {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.skeuo {
  box-shadow:
    -2px -2px 5px white,
    2px 2px 5px rgba(0, 0, 0, 0.1),
    inset -2px -2px 5px white,
    inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.1s;
}
.skeuo:hover {
  box-shadow:
    -2px -2px 5px rgba(0, 0, 0, 0.1),
    2px 2px 5px white,
    inset -2px -2px 5px rgba(0, 0, 0, 0.1),
    inset 2px 2px 5px white;
  transition: ease-in-out 0.1s;
}
