<div v-if="loading" class="text-gray-500">Chargement...</div>
<div v-if="error" class="text-red-600">{{ error }}</div>
<div id="working-time-list" v-if="!loading && !error">
  <TableComponent :headers="['Jour', 'Début', 'Fin']" :data="workingTimes" :current-page="pagingParams.pageNumber"
    :totalPages="totalPages" :items-per-page="pagingParams.pageSize" @edit-item="openUpdateModal"
    @delete-item="confirmDelete" @change-page="changePage">
    <template #cell-Jour="{ item }">
      <div>{{ formatDay(item.start) }}</div>
    </template>

    <template #cell-Début="{ item }">
      <div>{{ formatTime(item.start) }}</div>
    </template>

    <template #cell-Fin="{ item }">
      <div>{{ formatTime(item.end) }}</div>
    </template>
  </TableComponent>

  <ModalComponent v-model="showUpdateModal">
    <h2 class="text-lg font-semibold mb-4">Modifier le temps de travail</h2>
    <label class="block mb-2">Début:</label>
    <input type="datetime-local" v-model="updateForm.start" class="border border-gray-300 rounded p-2 w-full mb-4" />
    <label class="block mb-2">Fin:</label>
    <input type="datetime-local" v-model="updateForm.end" class="border border-gray-300 rounded p-2 w-full mb-4" />
    <div class="flex justify-end">
      <button class="px-4 py-2 bg-blue-500 text-white rounded" @click="updateWorkingTime">
        Mettre à jour
      </button>
      <button class="ml-2 px-4 py-2 bg-gray-300 rounded" @click="closeUpdateModal">
        Annuler
      </button>
    </div>
  </ModalComponent>

  <ModalComponent v-model="showDeleteConfirm">
    <h2 class="text-lg font-semibold mb-4">Confirmer la suppression</h2>
    <p>Êtes-vous sûr de vouloir supprimer ce temps de travail ?</p>
    <div class="flex justify-end mt-4">
      <button class="px-4 py-2 bg-red-500 text-white rounded" @click="deleteWorkingTime">
        Supprimer
      </button>
      <button class="ml-2 px-4 py-2 bg-gray-300 rounded" @click="closeDeleteConfirm">
        Annuler
      </button>
    </div>
  </ModalComponent>
</div>
